@use "sass:map";

/* BREAKPOINTS */

$breakpoints: (
  sm: 640px,
  md: 768px,
  lg: 1024px,
  xl: 1280px,
  xxl: 1536px,
);

/* MIXIN */

/* to above */
@mixin up($size) {
  @media (min-width: map.get($breakpoints, $size)) {
    @content;
  }
}

/* to below */
@mixin down($size) {
  @media (max-width: map.get($breakpoints, $size)) {
    @content;
  }
}
// screen media query
@mixin for-phone-only {
  @media (max-width: 599px) {
    @content;
  }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) {
    @content;
  }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) {
    @content;
  }
}
@mixin for-tablet-landscape-max-min {
  @media (min-width: 900px) and (max-width: 1200px) {
    @content;
  }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) {
    @content;
  }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) {
    @content;
  }
}
