:root {
  --color-border: #e5e7eb;
  --color-icon: #787878;
  --color-heading: #111827;
  --color-grey-hover: #f0f0f0;
  --color-bg: #f9fafb;
  --color-font-grey: #6c7280;
  --color-selected-bg: #808080;
}
