@use "@/styles/variables.scss";
.sideBarContainer {
  display: flex;
  flex-direction: column;
  min-width: 250px;
  border: 1px solid var(--color-border);

  .logoContainer {
    display: flex;
    border-width: 1px 0px 1px 1px;
    border-style: solid;
    border-color: var(--color-border);
    justify-content: center;
    gap: 8px;
    padding: 10px 0;

    align-items: center;
    .logo {
      width: 90px;
      height: 60px;
    }
  }

  .menuContainer {
    padding: 20px;

    :hover {
      background: var(--color-grey-hover);
    }

    .active {
      background: var(--color-selected-bg);
    }

    .menuItemContainer {
      display: flex;
      align-items: center;
      gap: 5px;
      padding: 10px;
      border-radius: 10px;
      cursor: pointer;
      .menuItemIcon {
      }
      .menuItemName {
        color: var(--color-font-grey);
      }
    }
  }
}
