@use "@/styles/variables.scss";
.dashboardWrapper {
  border: 1px solid var(--color-border);
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  height: 100vh;
  overflow: hidden;

  .rightSection {
    display: flex;
    flex-direction: column;
    width: 100%;

    .mainSection {
      border: 1px solid red;
      background: var(--color-bg);
      width: 100%;
      height: 100%;
    }
  }
  .mainSection {
    background: #f9fafb;
    overflow-y: scroll;
  }
}
