@use "@/styles/variables.scss";
.dashboardWrapper {
  border: 1px solid var(--color-border);
  display: flex;
  margin: 0 auto;
  height: 100vh;
  overflow: hidden;

  .rightSection {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
     overflow: hidden;

    .mainSection {
      // border: 1px solid red;
      background: var(--color-bg);
      flex: 1;
      overflow-y: auto;
      padding: 20px;
    }
  }
}
